.footer-main{
	padding: 42px 0;
	font-size: 1rem;
	line-height: 2rem;
	background: $dark-gray!important;
	@include tablet {
		padding: 50px 0;
	}

	.col-lg-3 {
		@include tablet { text-align: left!important;}	
		@include desktop { text-align: left!important;}
		@include mobile{ text-align: left!important;}	
	}

.bubble {
	margin-left: 10px; 
	font-size: 12px!important; 
	background-color:$gray;
	color: $white;
	border-radius: 10px; 
	padding: 3px
}
.footer-title { 
	color: $white;
	padding-bottom: 5px;
	margin-bottom: 10px;
	}
.footer-sep {
	color: $white;
	font-size: 0.8em;
}

.footer-links {

		a{
			text-decoration: none;
			color: $white;
			text-align: left;
		}

		a:hover {
			color: $gray;
		}



	}

	.block{
		img{
			margin-bottom: 20px;
			#small-Apps{
				fill: red;
			}
		}
		ul.social-icon{
			li{
				a{
					text-decoration: none;
					display: block;
					width: 38px;
					height: 38px;
			        border-radius: 100%;
					color: $light;
					text-align: center;
					line-height: 38px;
				}
			}
		}
		@include tablet {
			margin-bottom: 40px;
		}
	}
	.block-2{
		h6{

			text-transform: uppercase;
			color: $light;
			margin-bottom: 25px;
		}
		ul{
			padding: 0;
			li{
				margin-bottom: 10px;
				list-style: none;
				a{
				
					color: $light;
					transition: .2s ease;
					&:hover{
						color: $light;
					}
				}
			}
		}
	}
}

.footer-classic{
	background: #fafafa;
	text-align: center;
	padding: 110px 0;
	ul.social-icons{
		margin-bottom: 30px;
		li{
			@include mobile {
				margin-bottom: 10px;
			}
			a{
				padding: 0 20px;
				display: block;
				i{
					font-size: 25px;
					color: $light;
				}
			}
		}
	}
	ul.footer-links{
		li{
			a{
				padding: 0 10px;
				display: block;

				text-transform: uppercase;
		
				color: $light;
			}
		}
	}
}
