{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}


{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }} </p>
        <hr>
        <p>{{ .Content }}</p>
       
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">


        <hr>
        {{ "<!-- Features -->" | safeHTML }}
        {{ if $data.about.features.enable }}
        {{ with $data.about.features }}
        <section class="section about career-featured p-0">
          <div class="container">
            <div class="row">
              <div class="col-md-12 align-self-center mb-5">
                <div class="block">
                <div class="content">
                  
                  <p>{{ .content | safeHTML | markdownify }}</p>
                </div>
        
        
        
              <div class="col-md-6">
                <div class="about-slider owl-carousel owl-theme">
                  {{ range .image_slider }}
                  <div class="item">
                    <img src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'">
        
                  </div>
                  {{ end }}
                </div>
            </div>
          </div>
        </section>
        {{ end }}
        {{ end }}
        {{ "<!-- End of Features-->" | safeHTML }}
       
       

      </div>



    </div>





  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}




{{ end }}
