{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<style>

.bannerhero img {
  padding-top: 60px;
  width: 100%;
  height: auto;
}

.cool { color: deeppink!important}

</style>
{{ with $data.patchathon.intro }}
<!-- Hero image -->
<div class="container">
<div class="row">
  <div class="bannerhero">
    <img src="{{ .banner }}" data-aos="fade-in" >
    <div class="col-12 col-lg-12 m-auto text-center">
      <h1 class="mt-5 patchathon_title">{{ .megatitle }}</h1>
    <h2 class="text-center">{{ .title }}</h2>
    <p class=" mb-5">{{ .widetext }} </p>
     <a href="{{ .formlink }}" target="_blank"> <button type="submit" class="btn btn-main-md">{{ i18n "apply" }}</button></a>
    </div>
  </div>
</div>
</div>




<!-- Social Share buttons -->
<!-- <h3 class="text-center mt-3">Share buttons</h3> -->

<!-- 2 column blocks -->
<div class="container">
<div class="row mt-5" data-aos="fade-up">
  <div class="col-md-6 "><h2 class="cool">{{ .title1 }}</h2></div>
  <div class="col-md-6 mb-5"><p>{{ .section1 | markdownify  }}</p>
</div>
</div>
<div class="row" data-aos="fade-up">
  <div class="col-md-6 "><h2 class="cool">{{ .title2 }}</h2></div>
  <div class="col-md-6 mb-5"><p>{{ .section2 | markdownify  }}</p></div>
</div>
<div class="row" data-aos="fade-up">
  <div class="col-md-6 "><h2 class="cool">{{ .title3 }}</h2></div>
  <div class="col-md-6 mb-5"><p>{{ .section3 | markdownify }}</p></div>
</div>
<div class="row" data-aos="fade-up">
  <div class="col-md-6 "><h2 class="cool">{{ .title4 }}</h2></div>
  <div class="col-md-6 mb-5"><p>{{ .section4 | markdownify }}</p></div>
</div>
</div>

{{ end }}

<!-- Participant video -->


{{ "<!-- Patchathon -->" | safeHTML }}
{{ if $data.patchathon.promo.enable }}
{{ with $data.patchathon.promo }}

  
  <div class="container">
    <h2 class="cool mb-3" data-aos="fade-up">{{ .videotitle }}</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="video" data-aos="fade-in">
            <img class="img-fluid shadow" src="{{ .video_thumb_webp | absURL }}"
              onerror="this.onerror=null;this.src='{{ .video_thumb | absURL }}'" alt="video-thumbnail">
            <div class="video-button video-box">
              <a href="javascript:void(0)">
                <i class="tf-ion-play" data-video="{{ .video_embed_url }}"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{{ end }}
{{ end }}
{{ "<!-- End of Patchathon -->" | safeHTML }}




<!-- Community works -->
{{ with $data.patchathon.promo }}
{{ "<!-- Community -->" | safeHTML }}
<section class="section related-articles bg-gray">
  <div class="container">
<h2 class="cool" data-aos="fade-up">{{ .communitytitle }}</h2>
{{ end }}
    <div class="row" data-aos="fade-in">
      {{ range last 3 ( where .Site.Pages "Type" "community"  ) }}
      {{ .Render "patch"}}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- End of Community -->" | safeHTML }}


<!-- Apply Button -->
{{ with $data.patchathon.intro }}
<section class="section ">
<div class="container border-bottom">
  <div class="row">

<div class="col-12 col-lg-12 m-auto text-center" data-aos="fade-in">
  <h1 >{{ .megatitle }}</h1>
  <h2 class="text-center mb-5">{{ .title }}</h2>
   <a href="{{ .formlink }}" target="_blank"> <button type="submit" class="btn btn-main-md mb-5">{{ i18n "apply" }}</button></a>
  </div>

</div></div>
</section>
{{ end}}

<!-- Event Calendar -->
<!-- Body copy -->

{{ "<!-- Gallery -->" | safeHTML }}
{{ if $data.patchathon.gallery.enable }}
{{ with $data.patchathon.gallery }}
<section class="gallery">
  <div class="container-fluid p-0" data-aos="fade-in">
    <div class="row no-gutters">
      {{ range .gallery_item }}
      <div class="col-md-4">
        <img class="img-fluid" src="{{ .image | absURL }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Gallery -->" | safeHTML }}


{{ "<!-- Patchathon Event lists -->" | safeHTML }}
{{ if $data.patchathon.event.enable }}
{{ with $data.patchathon.event }}
<section class="job-list section pt-0">
  <div class="container" >
    <div class="row">
      <div class="col-12 col-lg-12 m-auto">
        <div class="block">
          <div class="title text-center" data-aos="fade-up">
            <h2>{{ .title }}</h2>
          </div>
          {{ $.Scratch.Set "counter" 0 }}
          {{ range .event_post }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <div class="job">
            <div class="content">
              <h3>{{ .title }}</h3>
              <p>{{ .location | markdownify }}</p>
            </div>
            <div class="apply-button">
              <a href="#" class="btn btn-main-md" data-toggle="modal"
                data-target="#job-{{$.Scratch.Get `counter`}}">{{ i18n "view_details" }}</a>
              {{ "<!-- Modal -->" | safeHTML }}
              <div class="modal fade jd-modal" id="job-{{$.Scratch.Get `counter`}}" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{ .title }}</h5>
                      <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="block-2">
                        <div class="title">
                          <p>{{ i18n "deadlines" }}</p>
                        </div>
                        <div class="details">
                          <ul>
                            {{ range .deadlines }}
                            <li><span class="tf-ion-ios-arrow-forward"></span>{{ . | markdownify }}</li>
                            {{ end }}
                          </ul>
                        </div>
                      </div>

                      <div class="block-2">
                        <div class="title">
                          <p>{{ i18n "experience_title"}}</p>
                        </div>
                        <div class="details">
                          <ul>
                            {{ range .points }}
                            <li><span class="tf-ion-ios-arrow-forward"></span>{{ . | markdownify }}</li>
                            {{ end }}
                          </ul>
                        </div>
                      </div>
                      <div class="form-title">
                        <h3>{{ i18n "apply" }}</h3>
                      </div>
                      <form name="patchathon" data-netlify="true" action="{{ .form_action }}">
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <input class="form-control main" type="text" placeholder="Name" name="Name" required>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <input class="form-control main" type="email" placeholder="Email Address" name="Email Address" required>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <input class="form-control main" type="text" placeholder="Portfolio Website Link" name="Portfolio Website Link" required>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <input class="form-control main" type="text" placeholder="Github/Stackoverflow Link" name="Github/Stackoverflow Link" required>
                          </div>
                          <div class="col-md-12">
                            <textarea class="form-control main" name="about" id="" rows="10"
                              placeholder="Write Something About You"></textarea>
                          </div>
                          <div class="col-12 text-right">
                            <button type="submit" class="btn btn-main-md">{{ i18n "apply" }}</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Event lists -->" | safeHTML }}

{{ end }}
