{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}


{{ "<!-- Page Title -->" | safeHTML }}
<section class="section">
  <div class="container">
	<div class="row">
      <div class="col-lg-8">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p><br>
        <p>{{ .Content  }}</p> 
	</div>

	<div class="col border-left mt-5 pt-5 pb-5">
  	<ul style="list-style:circle!important;">
    <!-- Ranges through content/jobs/*.md -->
    {{ range .Pages }}
        <li>
			<a href="{{.Permalink}}">{{.Title}}</a><br>
			<div class="small jobdate">{{.Date.Format "2006-01-02"}}</div> 
        </li>
    {{ end }}
	</ul>
</div>
	</div>
</div>

</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ end }}
