{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}


{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    
      <div class="col-sm-12 m-auto">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
        <p>{{ .Content }}</p> 

  <div class="row mt-3">
  <ul>
    <!-- Ranges through content/jobs/*.md -->
    {{ range .Pages }}
        <li>
			<a href="{{.Permalink}}">{{.Title}}</a><br>
			{{.Date.Format "2006-01-02"}} 
        </li>
    {{ end }}
	</ul>
</div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ end }}
