{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row border-bottom">
        <div class="col-8">
          <h1 class="pt-5">{{ .Title }}</h1>
          <p>{{ .Params.Description }}</p>
        </div>
        <div class="col-4 pt-5" style="text-align: right">
            <a href="/contact" class="btn btn-main-md">Apply</a>
        </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section blog-single pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <article class="single-post">
          <div class="post-body">
            <div class="content">
              {{ .Content }}
              <a href="/contact" class="btn btn-main-md">Apply</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}

{{ end }}
