{{ define "main" }}

<style>
  a {text-decoration: underline;}
  </style>

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title bg-white blackonwhite">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Factsheet</h2>
        <a href="#development">Development</a><br>
        <a href="#features">Features</a><br>
        <a href="#videos">Videos</a><br>
        <a href="#images">Images</a><br>
        <a href="#selected">Articles</a><br>
        <a href="#videos">Videos</a><br>

        {{ range .Site.Params.social }}
        <li class="list-inline-item">
          <a href="{{ .URL | safeURL }}" target="_blank"><ion-icon name="{{ .icon }}" size="small"></ion-icon></a>
        </li>
        {{ end }}
      </div>
      <div class=" content col-sm-8 m-auto">
        <!-- <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p> -->
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}



{{ end }}
