{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<style>
  a {text-decoration: underline;}
  li {max-width: 75%;list-style: circle!important;}
  </style>

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section bg-white blackonwhite">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Presskit</h2>
        <a href="#development">Development</a><br>
        <a href="#features">Features</a><br>
        <a href="#videos">Videos</a><br>
        <a href="#images">Images</a><br>
        <a href="#articles">Articles</a><br>
        <a href="#videos">Videos</a><br>

        {{ range .Site.Params.social }}
        <li class="list-inline-item mt-3">
          <a href="{{ .URL | safeURL }}" target="_blank"><ion-icon name="{{ .icon }}" size="small"></ion-icon></a>
        </li>
        {{ end }}
      </div>
      <div class=" content col-sm-8 m-auto">
        <!-- <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p> -->
        <p>{{ .Content }}</p>


        {{ "<!-- Gallery -->" | safeHTML }}
        {{ if $data.pressphotos.gallery.enable }}
        {{ with $data.pressphotos.gallery }}
        <section class="gallery">
          <div class="container-fluid p-0" data-aos="fade-in">
            <div class="row">
              {{ range .gallery_item }}
              <div class="col-md-4">
                <img class="img-fluid" src="{{ .image | absURL }}">
              </div>
              {{ end }}
            </div>
          </div>
        </section>
        {{ end }}
        {{ end }}
        {{ "<!-- End of Gallery -->" | safeHTML }}


      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}



{{ end }}
