<div class="col-lg-4 col-md-6 mb-5">
  {{ "<!-- Patch -->" | safeHTML }}
  <article class="post-sm">

    <div class="post-thumbs">

      <a href="{{ .Permalink }}"><img class="post-thumbs img-fluid" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" style="object-fit: cover;
  object-position: center;"></a>

    </div>

    <div class="post-title">
      <h2><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></h2>
      <h6>{{ .Params.Patchevent }}</h6>
    </div>

    <div class="post-meta">
      <ul class="list-inline">
        <li class="mb-0"><!--<a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">--><strong><h5>{{ .Params.Author | title }}</h5></strong><!--</a>--></li>
        <!-- <li class="mb-0"><h6>{{ .Params.Location }}</h6></li> -->
      </ul>
    </div>

  <!--  <div class="post-details">
      <p>{{ .Summary }}</p>
    </div>-->
    
  </article>
</div>
