{{ define "main" }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.Description }}</p>
  <!--      <p>{{ .Content }}</p>-->
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section blog-single pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <article class="single-post">
          <div class="post-body">
            <div class="feature-image">
              <img class="img-fluid" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
            </div>
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </article>
        <div class="about-author">
          <h2>About {{ .Site.Params.author }}</h2>
          <p class="text-light">{{ .Site.Params.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}

{{ "<!-- Related Article -->" | safeHTML }}
<section class="section related-articles bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 title">
        <h2>{{ i18n "related" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range first 3 ( where .Site.Pages "Type" "post" )}}
      {{ .Render "post"}}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- End of Related Article -->" | safeHTML }}

{{ end }}
