{{ define "main" }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <h1 class="newstitle">{{ .Title }}</h1>
        <p>{{ .Params.Description }}</p>
  <!--      <p>{{ .Content }}</p>-->
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section blog-single pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <article class="single-post">
          <div class="post-body">
            <div class="feature-image">
              <img class="img-fluid" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
            </div>
            <div class="content whiteonblack">
              {{ .Content }}
              {{ if (isset .Params "cta") }}
              <a href="{{ .Params.ctalink }}" target="_blank">
                <button class="btn btn-main-sm"> {{ .Params.Ctatext }}</button>
              </a>
              {{ end }}
            </div>
          </div>
        </article>
        {{ $data := index .Site.Data .Site.Language.Lang }}
        {{ with $data.blog.about }}
        <div class="about-author">
          <h2>{{ .title }}</h2>
          <p class="text-light">{{ .description }}</p>
          <p class="text-light"><a href="https://patchxr.com/">{{ .linktext }} <i class="tf-ion-android-arrow-forward"></i></a></p>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}

{{ "<!-- Related Article -->" | safeHTML }}
<section class="section related-articles bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 title">
        <h2>{{ i18n "related" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range first 3 ( where .Site.Pages "Type" "post" )}}
      {{ .Render "post"}}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- End of Related Article -->" | safeHTML }}

{{ end }}
