{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- Hero Section -->" | safeHTML }}
{{ if $data.about.aboutbanner.enable }}
{{ with $data.about.aboutbanner }}
<section class="bannerabout section">
	<div class="container">
		<div class="row mt-5 text-center">
			<div class="col-lg-12 text-shadow">
				<h1 class="mega">{{ .title }} </h1>
					</div>
				</div>
			</div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

{{ "<!-- PatchXR Team -->" | safeHTML }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section mb-0" data-aos="zoom-in">
          {{ if $data.about.team.enable }}
          {{ with $data.about.team }}
          <h1>{{ .title | safeHTML | markdownify }}</h1>
          <p>{{ .description | safeHTML | markdownify }}</p>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="section mb-0">
          {{ if $data.about.behind_story.enable }}
          {{ with $data.about.behind_story }}
          <img class="img-fluid" data-aos="zoom-in" src="{{ .image | absURL }}" alt="{{ .title }}">

          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ "<!-- End of PatchXR Team -->" | safeHTML }}

{{ "<!-- History -->" | safeHTML }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section mb-0 pt-0">
          {{ if $data.about.team.enable }}
          {{ with $data.about.team }}
          <img class="img-fluid" data-aos="zoom-in" src="{{ .image | absURL }}" alt="{{ .title }}">
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-md-6" data-aos="zoom-in">
        <div class="mb-0">
          {{ if $data.about.behind_story.enable }}
          {{ with $data.about.behind_story }}
          <h1>{{ .title | safeHTML | markdownify }}</h1>
          <p>{{ .content | safeHTML | markdownify }}</p>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ "<!-- End of History -->" | safeHTML }}

{{ "<!-- philosophy -->" | safeHTML }}
{{ if $data.about.philosophy.enable }}
{{ with $data.about.philosophy }}
<section class="section create-stories pt-0 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <div class="block">
          <h1>{{ .title | safeHTML | markdownify }}</h1>
          <p>{{ .content | safeHTML | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="section mb-0">
          <img class="img-fluid" data-aos="zoom-in" src="{{ .image | absURL }}" alt="{{ .title }}">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of philosophy -->" | safeHTML }}

{{ "<!-- call to action -->" | safeHTML }}
{{ if $data.team.call_to_action.enable }}
{{ with $data.team.call_to_action }}
<section class="section cta-hire bg-gary mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="color: #343a40!important">{{ .title | safeHTML | markdownify }}</h1>
        <p>{{ .content | safeHTML | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-main-md">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of call to action -->" | safeHTML }}


{{ "<!-- location -->" | safeHTML }}
{{ if $data.about.location.enable }}
{{ with $data.about.location }}
<section class="section cta-hire bg-gary">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-md-12 text-center mb-5">
        <h1 class="text-dark">{{ .title | safeHTML | markdownify }}</h1>
      </div>
        <div class="col-sm" data-aos="zoom-out"><p>{{ .location1 }}</p><img width="200" alt="{{ .location1 }}" src="{{ .location1img | absLangURL }}" style="filter: grayscale(100%)"></div>
        
        <div class="col-sm" data-aos="zoom-out"><p>{{ .location2 }}</p> <img width="180" alt="{{ .location2 }}" src="{{ .location2img | absLangURL }}"></div>

        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-main">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of location -->" | safeHTML }}

{{ "<!-- Partners Slider -->" | safeHTML }}
{{ if $data.about.partners_logo_slider.enable }}
{{ with $data.about.partners_logo_slider }}
<section class="section clients bg-white">
  <div class="container">
    <div class="row">
      <div class="col-10 m-auto text-center">
        <h1 class="text-dark">{{ .title }}</h1>
        <div class="client-slider owl-carousel owl-theme">
          {{ range .logos }}
          <div class="item">
            <img src="{{ . | absURL }}" alt="partner-logo">
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Partners Slider -->" | safeHTML }}


{{ "<!-- Investors -->" | safeHTML }}
{{ if $data.about.investors.enable }}
{{ with $data.about.investors }}
<section class="section investors">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ .title | safeHTML | markdownify }}</h2>
          <p>{{ .content | safeHTML | markdownify }}</p>
        </div>
      </div>
      {{ range .investor }}
      <div class="col-lg-3 col-md-6">
        <div class="block text-center">
          <div class="image shadow hover-zoom">
            <img src="{{ .image | absURL }}" alt="{{ .name }}">
          </div>
          <h3>{{ .name | safeHTML | markdownify }}</h3>
          <p>{{ .designation | safeHTML | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Investors -->" | safeHTML }}




{{ end }}
