{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.community.intro }}
{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <h1>{{ .title }}</h1>
        <p>{{ .description }}</p>
  <!--      <p>{{ .Content }}</p>-->
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}
{{ end }}

<section class="post-grid section pt-0">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "community") }}
      {{ range $paginator.Pages }}
      {{ .Render "patch" }}
      {{ end }}
      <div class="col-12">
        {{"<!-- pagination -->" | safeHTML }}
        <div class="col-12 mt-5">
          {{ $paginator := .Paginator }}
          <!-- Number of links either side of the current page. -->
          {{ $adjacent_links := 2 }}
          <!-- $max_links = ($adjacent_links * 2) + 1 -->
          {{ $max_links := (add (mul $adjacent_links 2) 1) }}
          <!-- $lower_limit = $adjacent_links + 1 -->
          {{ $lower_limit := (add $adjacent_links 1) }}
          <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
          {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
          <!-- If there's more than one page. -->
          {{ if gt $paginator.TotalPages 1 }}
          <nav aria-label="Page navigation" class="pagination-nav">
            <ul class="pagination justify-content-center">
              <!-- First page. -->
              {{ if ne $paginator.PageNumber 1 }}
              <li class="page-item">
                <a class="page-link hover-ripple" href="{{ $paginator.First.URL }}">
                  ««
                </a>
              </li>
              {{ end }}
              <!-- Previous page. -->
              {{ if $paginator.HasPrev }}
              <li class="page-item">
                <a href="{{ $paginator.Prev.URL }}" class="page-link hover-ripple">
                  «
                </a>
              </li>
              {{ end }}
              <!-- Page numbers. -->
              {{ range $paginator.Pagers }}
                {{ $.Scratch.Set "page_number_flag" false }}
                <!-- Advanced page numbers. -->
                {{ if gt $paginator.TotalPages $max_links }}
                  <!-- Lower limit pages. -->
                  <!-- If the user is on a page which is in the lower limit.  -->
                  {{ if le $paginator.PageNumber $lower_limit }}
                    <!-- If the current loop page is less than max_links. -->
                    {{ if le .PageNumber $max_links }}
                      {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                  <!-- Upper limit pages. -->
                  <!-- If the user is on a page which is in the upper limit. -->
                  {{ else if ge $paginator.PageNumber $upper_limit }}
                    <!-- If the current loop page is greater than total pages minus $max_links -->
                    {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                      {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                  <!-- Middle pages. -->
                  {{ else }}
                    {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                      {{ $.Scratch.Set "page_number_flag" true }}
                    {{ end }}
                  {{ end }}
                <!-- Simple page numbers. -->
                {{ else }}
                  {{ $.Scratch.Set "page_number_flag" true }}
                {{ end }}
                <!-- Output page numbers. -->
                {{ if eq ($.Scratch.Get "page_number_flag") true }}
                  <li class="page-item{{ if eq . $paginator }} page-item active {{ end }}">
                    <a href="{{ .URL }}" class="page-link hover-ripple">
                      {{ .PageNumber }}
                    </a>
                  </li>
                {{ end }}
              {{ end }}
              <!-- Next page. -->
              {{ if $paginator.HasNext }}
              <li class="page-item">
                <a href="{{ $paginator.Next.URL }}" class="page-link hover-ripple">
                  »
                </a>
              </li>
              {{ end }}
              <!-- Last page. -->
              {{ if ne $paginator.PageNumber $paginator.TotalPages }}
              <li class="page-item">
                <a class="page-link hover-ripple" href="{{ $paginator.Last.URL }}">
                  »»
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
        </div>
        {{"<!-- /pagination -->" | safeHTML }}
      </div>
    </div>
  </div>

  {{ with $data.patchathon.intro }}
  {{ "<!-- Page Title -->" | safeHTML }}
  <section class="section page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 m-auto">
          <h1>{{ .title }}</h1>
          <p>{{ .description }}</p><br>
          <p>{{ .subtitle}}</p>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- End of Page Title -->" | safeHTML }}
  {{ end }}

  {{ "<!-- Patchathon -->" | safeHTML }}
  {{ if $data.patchathon.promo.enable }}
  {{ with $data.patchathon.promo }}
  <section class="section career-featured pt-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="content">
              <h2>{{ .title | markdownify }}</h2>
              <p>{{ .content | markdownify }}</p>
            </div>
            <div class="video">
              <img class="img-fluid shadow" src="{{ .video_thumb_webp | absURL }}"
                onerror="this.onerror=null;this.src='{{ .video_thumb | absURL }}'" alt="video-thumbnail">
              <div class="video-button video-box">
                <a href="javascript:void(0)">
                  <i class="tf-ion-play" data-video="{{ .video_embed_url }}"></i>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  {{ "<!-- End of Patchathon -->" | safeHTML }}


  {{ "<!-- Gallery -->" | safeHTML }}
  {{ if $data.patchathon.gallery.enable }}
  {{ with $data.patchathon.gallery }}
  <section class="gallery">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        {{ range .gallery_item }}
        <div class="col-md-4">
          <img class="img-fluid" src="{{ .image | absURL }}">
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  {{ "<!-- End of Gallery -->" | safeHTML }}


  {{ "<!-- Patchathon Event lists -->" | safeHTML }}
  {{ if $data.patchathon.event.enable }}
  {{ with $data.patchathon.event }}
  <section class="job-list section pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12 m-auto">
          <div class="block">
            <div class="title text-center">
              <h2>{{ .title }}</h2>
            </div>
            {{ $.Scratch.Set "counter" 0 }}
            {{ range .event_post }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            <div class="job">
              <div class="content">
                <h3>{{ .title }}</h3>
                <p>{{ .location | markdownify }}</p>
              </div>
              <div class="apply-button">
                <a href="#" class="btn btn-main-md" data-toggle="modal"
                  data-target="#job-{{$.Scratch.Get `counter`}}">{{ i18n "view_details" }}</a>
                {{ "<!-- Modal -->" | safeHTML }}
                <div class="modal fade jd-modal" id="job-{{$.Scratch.Get `counter`}}" tabindex="-1">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{ .title }}</h5>
                        <button type="button" class="close" data-dismiss="modal">
                          <span>&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="block-2">
                          <div class="title">
                            <p>{{ i18n "deadlines" }}</p>
                          </div>
                          <div class="details">
                            <ul>
                              {{ range .deadlines }}
                              <li><span class="tf-ion-ios-arrow-forward"></span>{{ . | markdownify }}</li>
                              {{ end }}
                            </ul>
                          </div>
                        </div>

                        <div class="block-2">
                          <div class="title">
                            <p>{{ i18n "experience_title"}}</p>
                          </div>
                          <div class="details">
                            <ul>
                              {{ range .points }}
                              <li><span class="tf-ion-ios-arrow-forward"></span>{{ . | markdownify }}</li>
                              {{ end }}
                            </ul>
                          </div>
                        </div>
                        <div class="form-title">
                          <h3>{{ i18n "apply" }}</h3>
                        </div>
                        <form name="patchathon" data-netlify="true" action="{{ .form_action }}">
                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <input class="form-control main" type="text" placeholder="Name" name="Name" required>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <input class="form-control main" type="email" placeholder="Email Address" name="Email Address" required>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <input class="form-control main" type="text" placeholder="Portfolio Website Link" name="Portfolio Website Link" required>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <input class="form-control main" type="text" placeholder="Github/Stackoverflow Link" name="Github/Stackoverflow Link" required>
                            </div>
                            <div class="col-md-12">
                              <textarea class="form-control main" name="about" id="" rows="10"
                                placeholder="Write Something About You"></textarea>
                            </div>
                            <div class="col-12 text-right">
                              <button type="submit" class="btn btn-main-md">{{ i18n "apply" }}</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  {{ "<!-- End of Event lists -->" | safeHTML }}





</section>

{{ end }}
