{{ define "main" }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.Description }}</p>
  <!--      <p>{{ .Content }}</p>-->
      </div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section pt-0">
  <div class="container">

    <div class="row">
      <div class="col-md-6 ">

          <div class="post-body">
            <div class="content">
              <p><strong>{{ .Params.author }}</strong><br>
              {{ .Params.location }}</p>
              <p class="none">{{ .Params.bio }}</p>
              <h5>More info:</h5>
              <p>
              {{ if isset .Params "link1" }}

              <i class="tf-ion-ios-world-outline"></i> <a href="{{ .Params.link1 | safeURL }} " target="_blank"></a>

                {{ end }}

                {{ if isset .Params "link2" }}

              <i class="tf-ion-ios-world"></i> <a href="{{ .Params.link2 | safeURL }} " target="_blank"></a>

              {{ end }}

              {{ if isset .Params "twitter" }}

            <i class="tf-ion-social-twitter"></i> <a href="{{ .Params.twitter }}" target="_blank"></a>

            {{ end }}

            {{ if isset .Params "youtube" }}

          <i class="tf-ion-social-youtube"></i> <a href="{{ .Params.youtube }}" target="_blank"></a>

          {{ end }}

          {{ if isset .Params "instagram" }}

        <i class="tf-ion-social-instagram"></i> <a href="{{ .Params.instagram }}" target="_blank"></a>

        {{ end }}

          </div>
      </div>
    </div>

      <div class="col-md-6">
        <video id="vid1" class="video-js vjs-default-skin" controls autoplay width="512" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v={{ .Params.video }}"}] }'>
        </video>

      <!--  <div class="video">
    <img class="img-fluid shadow" src="{{ .Params.Image | absURL }}" alt="video-thumbnail">
    <div class="video-button video-box">
      <a href="javascript:void(0)">
        <i class="tf-ion-play" data-video="https://www.youtube.com/embed/{{ .Params.video }}?autoplay=1"></i>
      </a> -->
    </div>
  </div>

      </div>
  <div class="col-md-12">

    </div>
  </div>
</div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}

{{ "<!-- Related Article -->" | safeHTML }}
<section class="section related-articles bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 title">
        <h2>{{ i18n "relatedcommunity" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range last 3 ( where .Site.Pages "Type" "community" )}}
      {{ .Render "patch"}}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- End of Related Article -->" | safeHTML }}

{{ end }}
