{{ define "main" }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 m-auto">
        <div class="video" data-aos="fade-in">
          <img class="img-fluid shadow" src="{{ .Params.Image | absURL }}" alt="video-thumbnail">
          <div class="video-button video-box">
            <a href="javascript:void(0)">
              <i class="tf-ion-play" data-video="https://www.youtube.com/embed/{{ .Params.video }}?autoplay=1"></i>
            </a> 
          </div>
        </div>
        
      </div>
      <div class="col-sm-6 pt-3">        {{ with .PrevInSection }}
        <a style="font-size:2em; line-height: 1.2em; font-weight: 600;" href="{{ .Permalink }}"><i class="tf-ion-chevron-left" style="font-size: 40px;"></i></a>
      {{ end }}</div>
      <div class="col-sm-6 pt-3 text-right">    
        {{ with .NextInSection }}
        <a style="font-size:2em; font-weight: 600; line-height: 1.2em;" href="{{ .Permalink }}"><i class="tf-ion-chevron-right" style="font-size: 40px;"></i></a>
      {{ end }}</div>
    </div>
  </div>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section pt-0">
  <div class="container">

    <div class="row">



      
      <div class="col-md-8" data-aos="fade-in">
        <h1 class="newstitle">{{ .Title }}</h1>
        
        <p>{{ .Params.Description }}</p>

    </div>

    <div class="col-md-4" style="border-left: 1px solid white;" data-aos="fade-in">

      <div class="post-body">
        <div class="content">

          <p style="font-size:1em; line-height: 1.2em;"><strong>{{ .Params.author }}</strong><br>
            {{ .Params.location }}</p>
          
          <p style="font-size:1em; line-height: 1.2em;">{{ .Params.bio }}</p>
          
          <p>
          {{ if isset .Params "link1" }}

          <a href="{{ .Params.link1 | safeURL }} " target="_blank"><i class="tf-ion-ios-world-outline"></i> </a>

            {{ end }}

            {{ if isset .Params "link2" }}

           <a href="{{ .Params.link2 | safeURL }} " target="_blank"><i class="tf-ion-ios-world"></i></a>

          {{ end }}

          {{ if isset .Params "twitter" }}

         <a href="{{ .Params.twitter }}" target="_blank"><i class="tf-ion-social-twitter"></i></a>

        {{ end }}

        {{ if isset .Params "youtube" }}

      <a href="{{ .Params.youtube }}" target="_blank"><i class="tf-ion-social-youtube"></i></a>

      {{ end }}

      {{ if isset .Params "instagram" }}

    <a href="{{ .Params.instagram }}" target="_blank"><i class="tf-ion-social-instagram"></i></a>

    {{ end }}

      </div>
  </div>


      </div>


  </div>
</div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}



{{ end }}
