<div class="col-6">
    <h1>Get in touch</h1>
    <form action="/success" class="row" name="patchxr-contact" method="POST" data-netlify="true">
      {{ "<!-- Name -->" | safeHTML }}
      <div class="col-md-6">
        <input class="form-control main" type="text" name="name" placeholder="Name" required>
      </div>
      {{ "<!-- Email -->" | safeHTML }}
      <div class="col-md-6">
        <input class="form-control main" type="email" name="email" placeholder="Your Email Address" required>
      </div>
      {{ "<!-- subject -->" | safeHTML }}
      <div class="col-md-12">
        <input class="form-control main" type="text" placeholder="Subject" name="subject" required>
      </div>
      {{ "<!-- Message -->" | safeHTML }}
      <div class="col-md-12">
        <textarea class="form-control main" name="message" rows="10" placeholder="Your Message"></textarea>
      </div>
      {{ "<!-- Submit Button -->" | safeHTML }}
      <div class="col-12 text-right">
        <button type="submit" class="btn btn-main-md">{{ i18n "submit" }}</button>
      </div>
    </form>
  </div>