{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer-main">
  <div class="container text-light">
    <div class="row footer-links">
      <!-- Column 1 -->
      <div class="col-lg-3 mb-5">
         <a href="https://patchxr.com/"><img src="/images/logo-alt.png" style="margin-left:0px!important"></a><br>
      </div>
      <!-- Column 2 -->
      <div class="col-lg-3 mb-3"><div class="footer-title border-bottom">Quick Links:</div>
        <a href="https://patchxr.com">Home</a><br>
        <a href="/about">About</a><br>
        <a href="/jobs">Careers</a><span class="bubble">we're hiring</span><br>
        <a href="/blog">Blog</a><br>
        <a href="https://patchxrdocumentation.readthedocs.io/" target="_blank">Documentation</a><br>
        <a href="http://forum.patchxr.com/" target="_blank">Forum</a><br>
        <a href="/contact">Contact Us</a><br>
        <a href="/presskit">Press Kit</a><br>
      </div>
      <!-- Column 3 -->
      <div class="col-lg-3 mb-3"><div class="footer-title border-bottom">Get in touch:</div>
      info@patchxr.com<br>
      <div class="footer-sep pt-3"></div>
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ if $data.homepage.company.enable }}
          {{ with $data.homepage.company }}
          <span>{{ .address1extra }}</span><br>
          <span>{{ .address1city }}</span><br>
          <span>{{ .address1country }}</span><br>
          <br>
          <span> {{ .address2extra }}</span><br>
          <span>{{ .address2city }}</span><br>
          <span>{{ .address2country }}</span><br>
          {{ end }}
          {{ end }}
        </div>
          <!-- Column 4 -->
        <div class="col-lg-3">
          <div class="footer-title">Stay up to date with announcements and more!
          {{ if isset .Site.Params "mailchimpurl" }}
          {{ partial "mailchimp-signup" . }}{{ end }}
    </div>
</div>

<div class="text-left mt-5 ml-3">
  <ul class="social-icon list-inline">
    {{ range .Site.Params.social }}
    <li class="list-inline-item">
      <a href="{{ .URL | safeURL }}" target="_blank"><ion-icon name="{{ .icon }}" size="large"></ion-icon></a>
    </li>
    {{ end }}
  </ul>
</div>

</div>

<div class="row pb-3">
  <div class="col-md-12  text-left ml-1">
    <span class="text-dark">Copyright &copy; {{ now.Format "2006"}} PatchXR AG. All rights reserved.</span>
  </div>
</div>

</footer>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

<script>
  $("nav.navbar-fixed-top").autoHidingNavbar('setDisableAutohide', true);
</script>

<!-- <script src="https://vjs.zencdn.net/7.8.4/video.js"></script> -->
<!-- <script src="/plugins/youtube.js"></script> -->
<script src="/plugins/fs-video-bg.min.js"></script>
