{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer-main">
  <div class="container text-light">
    <div class="row footer-links">
        <div class="col"><span class="footer-title">COMPANY</span><bR>
          <a href="/about">About</a><br>
          <a href="/jobs">Careers</a><span class="bubble">WE'RE HIRING</span><br>
          <a href="/internships">Internships</a><br>
          <a href="/blog">Blog</a><br>
          <a href="/press">Press Room</a><br>
          <a href="/partners">Partners</a><br>

          
          
        </div>
        <!--<div class="col"><span class="footer-title">WORKS</span><bR>
          <a href="/works#patch">Patchworld</a><br>
          <a href="/works#patchworld">PatchEngine / Patchita</a><br>
          <a href="/works#singing-with-medusa">Jellyfish</a><br>


        </div>-->
        <div class="col"><span class="footer-title">RESOURCES</span><bR>
          <a href="https://forms.gle/dsf9R3Upc8GvVjf28" target="_blank">Patch Software access</a><br>
          <a href="https://forms.gle/pf3N7HEUEchdtQUP6" target="_blank">PatchWorld Beta</a><br>
          <a href="/documentation">Documentation</a><br>
          <a href="/downloads">Downloads</a><br>
          <a href="/faq">FAQ</a>

  
</div>
        
          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ if $data.homepage.support.enable }}
          {{ with $data.homepage.support }}
          <div class="col"><span class="footer-title">SUPPORT</span><bR>
          <a href="{{ .discordlink }}" target="_blank">Discord</a><br>
          <a href="{{ .redditlink }}" target="_blank">Reddit</a><br>
          <a href="/contact">Contact Us</a><br>
        </div>
          {{ end }}
          {{ end }}

        <div class="col">
   

          {{ $data := index .Site.Data .Site.Language.Lang }}
          {{ if $data.homepage.company.enable }}
          {{ with $data.homepage.company }}
          
          <span class="small"><b>{{ .address1title }}</b></span><br>
          <span class="small">{{ .address1street }}</span><br>
          <span class="small">{{ .address1extra }}</span><br>
          <span class="small">{{ .address1city }}</span><br>
          <span class="small">{{ .address1country }}</span><br>
          <hr>
          <span class="small"><b>{{ .address2title }}</b></span><br>
          <span class="small">{{ .address2street }}</span><br>
          <span class="small"> {{ .address2extra }}</span>
          <span class="small">{{ .address2city }}</span><br>
          <span class="small">{{ .address2country }}</span><br>
          
          {{ end }}
          {{ end }}

</div>
    </div>
</div>
  <div class="container">
    <div class="row  mt-5 pt-3 pb-3">
      <div class="col-md-6 mt-2">
        
        <span class="text-light">&copy;{{ now.Format "2006"}} PatchXR AG. All rights reserved · <a style="font-size: 14px" href="/privacy-policy">Privacy Policy</a></span>
        
      </div>
      
      <div class="col-md-6 mt-2 text-right">
        <ul class="social-icon list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item">
            <a href="{{ .URL | safeURL }}" target="_blank"><ion-icon name="{{ .icon }}" size="small"></ion-icon></a>
          </li>
          {{ end }}
        </ul>
</div>

  
    </div>
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js }}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analytics_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}


<script>
  $("nav.navbar-fixed-top").autoHidingNavbar();
</script>

<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
<script src="/plugins/youtube.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
