{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- Hero Section -->" | safeHTML }}
{{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="bannerbg{{ .gif }} section" data-aos="fade-in">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-12 text-shadow">
				<h1 class="hidden">PatchXR</h1>
				<img src="{{ .logotype }}" class="img-fluid" style="width:80%" data-aos="fade-in" alt="PatchXR - Sound of the Metaverse ">
						<div class="platforms mt-5">
							<!-- <p class="text-white" data-aos="fade-up">{{ .bannertext | safeHTML | markdownify }}</p> -->
							<a data-aos="fade-up" href="https://docs.google.com/forms/d/e/1FAIpQLSclGNupdrQz7q37WGlCtb5jzXghsnByTz56CC-kbPaXIeKOmw/viewform" target="_blank" class="btn btn-main-md">Join waitlist</a>
						</div>
					</div>
				</div>
			</div>
</section>
{{ end }}
{{ end }}
{{ "<!-- End of Hero Section -->" | safeHTML }}