{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.alert.enable }}
{{ with $data.homepage.alert }}
<div id="top-alert" class="jobalert alert alert-{{ .type }}" role="alert">
  <button type="button" class="close dismissjob" data-dismiss="alert">×</button>
  <strong>{{ .title }}</strong> <a style="font-size: 1em; color: black" href="/{{ .link }}">{{ .text }}</a>
</div>
{{ end }}
{{ end }}

{{ if $data.TGS2022.scroller.enable }}
{{ with $data.TGS2022.scroller }}
<!-- c00l SCrOlleR SeCt1On -->
<style>
  #top-alert 
    {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    }
  
    .top-bar {
    text-align:right;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(46, 254, 254);
    position: sticky;
    top: 0px;
    padding: 0px 0px;
    z-index: 100;
  }
  
  /* Let's marquee */
  .marquee {
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
  }
  
  .marquee span {
      font-size: 3em;
      color: rgb(255, 255, 255);
      display: inline-block;
      padding-left: 100%;
      animation: marquee {{ .speed }}s linear infinite;
  }
  
  /* I like to move it, move it! */
  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
  }
  
  </style>
<div class="top-bar japanese">
  <p class="marquee"><span>{{ .text | safeHTML }}</span></p>
</div>
<!-- end of c00l SCrOlleR SeCt1On -->
{{ end }}
{{ end }}

<nav id="navbar" class="navbar main-nav navbar-expand-lg p-0 navbar-fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}">
      <img src="{{ .Site.Params.logo | absURL }}" alt="PatchXR">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="tf-ion-android-menu" style="color:white!important;"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="nav navbar-nav ml-auto" style="background-color: #040404;">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink  | absLangURL }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu text-left">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav nav-item">
          <a class="nav-link" href="{{ $menu_item_url }}">
             <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
               {{ .Name }}
             </span>
           </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>