<style>
#top-alert 
  {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  }
</style>
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.alert.enable }}
{{ with $data.homepage.alert }}
<div id="top-alert" class="alert alert-{{ .type }}" role="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>{{ .title }}</strong> <a style="font-size: 1em; color: black" href="/{{ .link }}">{{ .text }}</a>
</div>
{{ end }}
{{ end }}
<nav id="navbar" class="navbar main-nav navbar-expand-lg p-0 navbar-fixed-top bg-black">

  <div class="container">

    <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}"><img style="width:30%" src="{{ .Site.Params.logo_2 | absURL }}" alt="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="tf-ion-android-menu" style="color:white!important;"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink  | absLangURL }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav nav-item">
          <a class="nav-link" href="{{ $menu_item_url }}">
             <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
               {{ .Name }}
             </span>
           </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    <!--  {{ if .IsTranslated }}
      <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}</option>
        {{ else }}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
      {{ end }}-->
    </div>


  </div>
</nav>
