{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.homepage.alert.enable }}
{{ with $data.homepage.alert }}
<div id="top-alert" class="jobalert alert alert-{{ .type }}" role="alert">
  <button type="button" class="close dismissjob" data-dismiss="alert">×</button>
  <strong>{{ .title }}</strong> <a style="font-size: 1em; color: black" href="/{{ .link }}">{{ .text }}</a>
</div>
{{ end }}
{{ end }}

<!-- c00l SCrOlleR SeCt1On -->
{{ if $data.homepage.scroller.enable }}
{{ with $data.homepage.scroller }}
<style>
  #top-alert 
    {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    }
  
    .top-bar {
    text-align:right;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(46, 254, 254);
    position: sticky;
    top: 0px;
    padding: 0px 0px;
    z-index: 100;
  }
  
  /* Let's marquee */
  .marquee {
      margin: 0 auto;
      white-space: nowrap;
      overflow: hidden;
  }
  
  .marquee span {
    position: relative;
    left: -100%;
      font-size: 3.25em;
      color: rgb(250, 250, 250);
      display: inline-block;
      padding-left: 100%;
      animation: marquee {{ .speed }}s linear infinite;
      line-height: 1.2em;
  }

  /* marquee links style */
  .marquee a {
    text-decoration: none; 
  }

  .marquee a:hover {text-decoration: none; color: white;}
  
  /* I like to move it, move it! */
  @keyframes marquee {
      0%   { transform: translate(0, 0); }
      100% { transform: translate(-100%, 0); }
  }

   /* Pause on hover */
/*  .marquee span:hover {
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
      } */
  </style>

<div class="top-bar">
  <p class="marquee">
    <span><a href="{{ .link }}" target="_blank">{{ .text | safeHTML }}</a></span>
  </p>
</div>

{{ if $data.homepage.scroller.autohide }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    var senseSpeed = 5;
    var previousScroll = 0;
    $(window).scroll(function(event){
    var scroller = $(this).scrollTop();
    if (scroller-senseSpeed > previousScroll) {
      $("div.top-bar").filter(':not(:animated)').slideUp();
    } 
    else if (scroller+senseSpeed < previousScroll) {
      $("div.top-bar").filter(':not(:animated)').slideDown();
    }
  previousScroll = scroller;
  });
  </script>
{{ end }}
<!-- end of c00l SCrOlleR SeCt1On -->
{{ end }}
{{ end }}

<nav id="navbar" class="navbar main-nav navbar-expand-lg p-0 navbar-fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}">
      <picture>
        <source type="image/webp" srcset="{{ .Site.Params.logo | absURL }}">
        <source type="image/png" srcset="{{ .Site.Params.logo_fallback | absURL }}">
        <img class="img-fluid" width="300" height="71" src="{{ .Site.Params.logo_fallback | absURL }}" alt="PatchXR">
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="tf-ion-android-menu" style="color:white!important;"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="nav navbar-nav ml-auto" style="background-color: #040404;">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink  | absLangURL }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu text-left">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav nav-item">
          <a class="nav-link" href="{{ $menu_item_url }}">
             <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
               {{ .Name }}
             </span>
           </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
