{{ if .IsHome -}}
  <script type="application/ld+json">
    { "@context": "https://schema.org",
    "@type": "Organization",
    "name": "PatchXR",
    "legalName" : "PatchXR AG",
    "url": "https://patchxr.com",
    "logo": "https://patchxr.com/images/logo.png",
    "foundingDate": "2020",
    "founders": [
    {
    "@type": "Person",
    "name": "Edo Fouilloux"
    },
    {
    "@type": "Person",
    "name": "Melodie Mousset"
    },
    {
    "@type": "Person",
    "name": "Joel Sadler"
    },
    {
    "@type": "Person",
    "name": "Gad Baruch Hinkis"
    } ],
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "Chriesbaumstrasse 6",
    "addressLocality": "Volketswil",
    "addressRegion": "Zürich",
    "postalCode": "8604",
    "addressCountry": "CH"
    },
    "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Office",
    "telephone": "[+41787676624]",
    "email": "info@patchxr.com"
    },
    "sameAs": [ 
    "https://www.facebook.com/patch.xr/",
    "https://twitter.com/patchworld_",
    "https://www.instagram.com/patchworld_vr/",
    "https://www.youtube.com/channel/UCk_Ekjvy67qnNo-iM4-F_bA",
    "https://www.linkedin.com/company/patch-xr/",
    "https://www.twitch.tv/patchxr"
    ]}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Organization",
        "name": "PatchXR",
        "url": {{ .Site.BaseURL }}
    },
    "creator" : {
        "@type": "Organization",
        "name": "PatchXR"
    },
    "copyrightHolder" : "PatchXR",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": "PatchXR",
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo_1 | absURL }}",
            "width":"151",
            "height":"138"
        }
    },
    "image": {{ .Params.image }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}]
}
</script>
{{ end }}
