<form action="{{ .Site.Params.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group input-group" style="display:none">
	<input type="checkbox" value="4" name="group[80495][4]" id="mce-group[80495]-80495-2" checked><label for="mce-group[80495]-80495-2">Newsletter</label>
</div>
	<input type="text" placeholder="Enter name" value="" name="FNAME" class="required email" id="mce-FNAME">
	<input type="text" placeholder="Enter last name" value="" name="LNAME" class="email" id="mce-LNAME"> 
	<input type="email" placeholder="Enter email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-main-mail">
</form>
