
{{ "<!-- ENTERING partial seo-twittercard.html -->" | safeHTML }}
{{ $baseurl := .Site.BaseURL }}
{{ if eq .Type "post" }}
<meta property="twitter:image" content="{{ .Params.image | absURL }}"/>
{{ end }}
{{ if .IsHome }}
<meta property="twitter:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} {{ end }}" />
<meta property="twitter:description" content="{{ .Site.Params.Description }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:site" content="@patch_xr"/>
<meta name="twitter:creator" content="@patch_xr"/>
<meta name="twitter:domain" content="patchxr.com"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta property="twitter:image" content="{{ .Site.Params.og_image | absURL }}"/>
{{ end }}
{{ if .IsPage }}
<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}"/>
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
<meta name="twitter:site" content="@patch_xr"/>
<meta name="twitter:domain" content="patchxr.com"/>
<meta name="twitter:creator" content="@patch_xr"/>
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ .Params.image | absURL }}"/>
{{ else }}
<!-- Twitter Card data -->
<meta name="twitter:title" content="{{ .Title }}{{ if ne .Title .Site.Title }} : {{ .Site.Title }}{{ end }}"/>
<meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
<meta name="twitter:site" content="@patch_xr"/>
<meta name="twitter:domain" content="patchxr.com"/>
<meta name="twitter:creator" content="@patch_xr"/>
<meta name="twitter:url" content="{{ .Permalink }}">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:card" content="summary_large_image"/>
<meta property="twitter:image" content="{{ .Params.image | absURL }}"/>
{{ end }}
{{ "<!-- LEAVING partial seo-twittercard.html -->" | safeHTML }}
