{{ define "main" }}

{{ "<!-- Page Title -->" | safeHTML }}
<section class="section page-title">
  <div class="container">
    <div class="row">
<div class="col-md-6"></div>
<div class="col-md-6">
    <h1>{{ .Title }}</h1>
    <h3>{{ .Params.Description }}</h3>
</div>
<div class="col-md-6"> <h3 style="color: royalblue">{{ .Params.Platform }}</h3></div>
<div class="col-md-6">
    <h3 style="color: royalblue">{{ .Params.Year }}</h3>
</div>
    </div>
  </div>
  {{ "<!-- Hero Image Section -->" | safeHTML }}
<section class="jellyworks section">
	<div class="container">
		<div class="row mt-5 text-center">
			<div class="col-lg-12 text-shadow">

					</div>
				</div>
			</div>
</section>
</section>
{{ "<!-- End of Page Title -->" | safeHTML }}

{{ "<!-- Single Article -->" | safeHTML }}
<section class="section pt-0">
  <div class="container">


    <div class="row">
      <div class="col-md-6 ">
        <p style="color: gray;">{{ .Params.Section1 }}</p>
    </div>

    <div class="col-md-6 mb-5">
        <h1>{{ .Params.Title1 }}</h1>
        <p>{{ .Params.Text1 | markdownify }}</p>
    </div>
  </div>
</div>
</section>
{{ "<!-- End of Single Article -->" | safeHTML }}

<section class="section bg-white text-dark">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 m-auto">
                <div style="position: relative; top: -100px" class="video">
                  <img class="img-fluid shadow" src="{{ .Params.Videothumb | absURL }}" alt="video-thumbnail">
                  <div class="video-button video-box">
                    <a href="javascript:void(0)">
                      <i class="tf-ion-play" data-video="https://www.youtube.com/embed/{{ .Params.video }}?autoplay=1"></i>
                    </a> 
                  </div>
                </div>
                
              </div>
        </div>

    <div class="row">
        <div class="col-md-6 ">
          <p style="color: black;">{{ .Params.Section2 }}</p>
      </div>
  
      <div class="col-md-6 mb-5">
          <h1 style="color: black;">{{ .Params.Title2 }}</h1>
          <p style="color: black;">{{ .Params.Text2 | markdownify }}</p>
      </div>

</div>
<div class="mb-5">
<img width="100%" src="/images/works/jellyscreen1.jpg">
</div>
<div class="mb-5">
<img width="100%" src="/images/works/jellyscreen1.jpg">
</div>
<div class="row">
<div class="col-md-6 ">
</div>

<div class="col-md-6 mb-5">

    <p style="color: black;">{{ .Params.Text3 | markdownify }}</p>
</div>
<div class="mb-5">
    <img width="100%" src="/images/works/jellyscreen1.jpg">
    </div>

    <div class="col-md-6 ">
        <p style="color: gray;">{{ .Params.Section4 }}</p>
    </div>

    <div class="col-md-6 mb-5">
        <h1 style="color: black;">{{ .Params.Title4 }}</h1>
        <p style="color: black;">{{ .Params.Text4 | markdownify }}</p>
    </div>
</div>
</section>

<section class="section">
    <div class="container">
        <div  style="position: relative; top: -100px">
            <img width="100%" src="/images/works/jellyscreen1.jpg">
            </div>
<div class="row">
    <div class="col-md-6 ">
    </div>

    <div class="col-md-6">
        {{ if isset .Params "quote" }}  <h1>{{ .Params.Quote }}</h1>
        <p>{{ .Params.Quoteauthor | markdownify }}</p>
        {{ end }}
    </div>
</div>

<div class="row border-bottom mb-5 mt-5">
    <img width="100%" src="/images/works/awards-strip.jpg">
</div>

<div class="row border-bottom">
    <div class="col-md-6 ">
<p>CREDITS</p>
    </div>

    <div class="col-md-3 credits">
        
           <p class="credits"> {{ .Params.Role1}} </p>
           <p class="credits"> {{ .Params.Role2}} </p>
           <p class="credits"> {{ .Params.Role3}} </p>
           <p class="credits"> {{ .Params.Role4}} </p>
           <p class="credits"> {{ .Params.Role5}} </p>
           <p class="credits"> {{ .Params.Role6}} </p>
           <p class="credits"> & </p>
           <p class="credits"> {{ .Params.Role7}} </p>
           <p class="credits">{{ .Params.Role8}}</p>
    </div>

        <div class="col-md-3 mb-5">

            <p>{{ .Params.Person1}}</p>
            <p>{{ .Params.Person2}}</p>
            <p>{{ .Params.Person3}}</p>
            <p>{{ .Params.Person4}}</p>
            <p>{{ .Params.Person5}}</p>
            <p>{{ .Params.Person6}}</p>
            <p>&nbsp;</p>
            <p>{{ .Params.Person7}}</p>
            <p>{{ .Params.Person8}}</p>

        </div>

    
    </div>
    <img class="mb-5" width="100%" src="/images/works/logo-strip.jpg">
    <!-- paginator -->
<div class="col-sm-6 pt-3">        {{ with .PrevInSection }}
    <a style="font-size:1em; line-height: 1.2em; font-weight: 600;" href="{{ .Permalink }}"><i class="tf-ion-chevron-left" style="font-size: 20px;"></i> PREVIOUS WORK</a>
  {{ end }}</div>
  <div class="col-sm-6 pt-3 text-right">    
    {{ with .NextInSection }}
    <a style="font-size:1em; font-weight: 600; line-height: 1.2em;" href="{{ .Permalink }}">NEXT WORK <i class="tf-ion-chevron-right" style="font-size: 20px;"></i></a>
  {{ end }}</div>
  <!-- /paginator -->
</div>

</div>
</section>



{{ end }}
