{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Site.Params.contact_form_action }}
<section class="contact-form section mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 text-light">
        <h2 class="mb-4">{{ i18n "contact_form" }}</h2>

          {{ with $data.homepage.company }}
          <hr>
          <span class="small"><b>{{ .address1title }}</b></span><br>
          <span class="small">{{ .address1street }}</span><br>
          <span class="small">{{ .address1extra }}</span><br>
          <span class="small">{{ .address1city }}</span><br>
          <span class="small">{{ .address1country }}</span><br>
          <hr>
          <span class="small"><b>{{ .address2title }}</b></span><br>
          <span class="small">{{ .address2street }}</span><br>
          <span class="small"> {{ .address2extra }}</span>
          <span class="small">{{ .address2city }}</span><br>
          <span class="small">{{ .address2country }}</span><br>
          {{ end }}
      </div>

      <!-- {{ partial "contactform.html" }} -->
      <h3 style="writing-mode: vertical-rl">info@patchxr.com</h3>

    </div>
  </div>
</section>
{{ end }}
{{ end }}
