.btn{
	text-transform: uppercase;
}

.btn-download{
    padding: 20px 35px;
    font-size: 14px;
    background: $light;
    color: $primary-color;
    span{
        margin-left: 5px;
        font-size: 20px;
    }
}
.btn-main{
    padding: 18px 45px;
    border-radius: 3px;
	background: $primary-color;
    color: $light;
    outline: none;
    &:hover{
    	color: $light;
    }
    &:focus{
    	color: $light;
        box-shadow: none;
    }
}

.btn-main-md{
    padding: 17px 38px;
    font-size: 23px;
    border-radius: 50px;
    border: 4px solid deeppink;
    background: $primary-color;
    color: $light;
    outline: none;
    &:hover{
        color: $light;
        background: $black;
        border: 4px solid deeppink;
        color: deeppink;
    }
    &:focus{
        color: $light;
        box-shadow: none;
    }
		@include tablet {padding: 07px 28px;}
		@include desktop {padding: 07px 28px;}

}

.btn-main-md2{
    padding: 07px 28px;
    font-size: 23px;
    border-radius: 50px;
    border: 4px solid deeppink;
    background: $primary-color;
    color: $light;
    outline: none;
    &:hover{
        color: $light;
        background: $black;
        border: 4px solid deeppink;
        color: deeppink;
    }
    &:focus{
        color: $light;
        box-shadow: none;
    }
		@include tablet {padding: 07px 28px;}
		@include desktop {padding: 07px 28px;}

}

.btn-main-sm{
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid deeppink;
    background: $primary-color;
    color: $light;
    outline: none;
    &:hover{
        color: $light;
        background: $black;
        border: 2px solid deeppink;
        color: deeppink;
    }
    &:focus{
        color: $light;
        box-shadow: none;
    }
}

.email {
    width: 100%;
    background-color: #0d0d0d!important;
    color: deeppink;
    border-bottom: 2px solid $white;
    border-top: 0px solid $black;
    border-left: 0px solid $black;
    border-right: 0px solid $black;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    @include tablet { width: 50%!important;}
    @include desktop { width: 50%!important;}

     }

     ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blue;
        opacity: 1; /* Firefox */
        text-align: center;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $blue;
        text-align: center;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $blue;
        text-align: center;
      }

.btn-main-mail{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid $light;
    background: $black;
    color: $light;
    outline: none;
    @include tablet { width: 50%!important;}
    @include desktop { width: 50%!important;}
    letter-spacing: 2px;
    &:hover{
        color: $light;
        background: $black;
        border: 2px solid deeppink;
        color: deeppink;
    }
    &:focus{
        color: $light;
        box-shadow: none;
    }
}

.btn-white{
	background: white;
	color: $primary-color;
}

.btn-green{
	background-image: linear-gradient(106deg, rgb(31, 201, 151) 0%, rgb(82, 224, 183) 100%);
	color: $light;
}

.btn-rounded-icon{
        border-radius: 100px;
	    color: $light;
	    border: 1px solid $light;
	    padding: 13px 50px;
}
