

@font-face {
    font-family: "signs";
    src: url("/fonts/signs.woff2") format('woff');
}


@font-face {
	font-family: 'Selecta';
	src: url('/fonts/Selecta-Bold.eot');
	src: url('/fonts/Selecta-Bold.woff2') format('woff2'),
		 url('/fonts/Selecta-Bold.woff') format('woff'),
		 url('/fonts/Selecta-Bold.ttf') format('truetype'),
		 url('/fonts/Selecta-Bold#Selecta') format('svg'),
		 url('/fonts/Selecta-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

.japanese {
 	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 900;
	// Google Font Import

}


// Body
body{
	font-family: $primary-font;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
}

b, strong { font-weight:400;}
// Headings
h1,h2,h3,h4,h5,h6 {
	font-family: $primary-font;
	color: $light;
}

.patchathon_title {
	font-size: 100px!important;
	font-family: $patchxr-font!important;
	@include mobile {
		font-size: 28px!important;
	}
	@include tablet {
		font-size: 32px!important;
	}
}

.newstitle  {
	font-size: 3em!important;
	letter-spacing: -1px;
	font-family: $primary-font!important;
	line-height: 1em;

	@include mobile {
		font-size: 2em!important;
		}
}


p { 
	font-size:1em;
	line-height: 1.2em;}
/* Top left text */
.top-left {
position: absolute;
top: 0.875em;
left: 0.875em;

}
	
.feature-text {
font-size: 1.25em;
line-height: 1.1em;
padding-top: 0.875em;
margin-bottom: 0px;

}
	
.blackonwhite * {color: $black!important;}

.whiteonblack h1 h2 p li {color: $white!important;}

.mega { 
	font-size: 52px;
}

h2{
	font-size: 28px;
	line-height: 30px;
	padding-top: 20px!important;
	@include mobile {
		font-size: 18px!important;
		}
}



h3{
	font-size: 2em;
	line-height: 30px;
	margin-top: 2em;
	margin-bottom: 2em;
}

h4{font-size: 32px;}
// Others
p, a, li, blockquote, label{

	color: $light;
}

.content ul li { margin-bottom: 0px!important;}


.gradient blockquote p {background: linear-gradient(90deg,#2a65f8,#3bd86d) !important;
background-clip: text !important;
-webkit-background-clip: text !important;;
color: transparent !important;}


cite{
	font-size: 14px;
	font-style: normal;
	color: $light;
}
.lora{
	font-family: $secondary-font;
	font-style: italic;
}
// Placeholder Color Change
.form-control::-webkit-input-placeholder {
	color: $light;
	line-height: 25px;
	font-size: 16px;
}
