// Variables
$body-color: #f3f3f3;
$primary-color: linear-gradient(106deg, rgb(117, 53, 160) 0%,rgb(237,30,121) 100%);
$nicepurple: rgb(149, 149, 149);
$secondary-color: #f3f3f3;
$border-color:#cccccc;
$patchxr-font: 'signs', sans-serif;
$primary-font: 'Selecta', sans-serif;
$secondary-font: 'Selecta', serif;
$tertiary-font: 'Selecta', sans-serif;
$text-color: #000;
$text-red: rgb(255,128,128);
$text-color2: #808080;
$title-color: #757575;
$gray: #808080;
$dark-gray: #0d0d0d;
$light-gray: #aaabac;
$dark: #333;
$light: #f8f9fa;
$white: #f8f9fa;
$black: #040404;
$blue: rgb(111, 111, 213);

