{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">
        <div class="block text-center mb-5">
            <img src="/images/404.gif" class="img-fluid" width="50%">
      <h2>Thank you!</h2>
      <h3>Message sent.</h3>
      <p>We will get back to you as soon as possible.</p>
      <a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-main">Back to site.</a>
    </div>
  </div>
</div>
</div>
</section>

{{ end }}